<main>
  <div class="head_section m-auto"></div>
  <div class="general_wrapper pb-2 flex j-center m-auto column">
    <div class="wrapper">
      <button (click)="goToURl('https://docs.google.com/forms/d/1Z5tEohLYkUdIKpgcrsf_sY7Vfs6X3hFubHLrqAKt_Ac/edit')" class="btn_gen flex j-center m-auto pointer">ПРОЙТИ РЕГИСТРАЦИЮ</button>
    </div>
    <p class="p_gen flex j-center m-auto">
      Для участия на фестивале Вишва сангха махасангам 2023, пожалуйста, заполните краткую форму регистрации.
    </p>
    <div class="items_wrap flex j-center m-auto">
      <div class="item_wrapper flex a-center column">
        <div class="img_wrap">
          <img src="../assets/1.jpg" alt="pic" />
        </div>
        <p class="p_gen mt-1"><b>Информация и регистрация</b></p>
        <p class="p_gen"><b>Анастасия Кожеко</b></p>
        <p class="p_gen pb-1"><b>WhatsApp/Telegram:</b></p>
        <p class="p_gen">+7 999 231-89-91</p>
        <p class="p_gen"><a>mahasangam108@gmail.com</a></p>
      </div>
      <!-- <div class="item_wrapper flex a-center column">
        <div class="img_wrap">
          <img src="../assets/2.jpg" alt="pic" />
        </div>
        <p class="p_gen pb-1 mt-1"><b>Координатор по России</b></p>
        <p class="p_gen">Амрита</p>
        <p class="p_gen">skype: amritalla</p>
        <p class="p_gen">whatsapp: +79219002285</p>
      </div>
      <div class="item_wrapper flex a-center column">
        <div class="img_wrap">
          <img src="../assets/3.jpg" alt="pic" />
        </div>
        <p class="p_gen pb-1 mt-1"><b>Координатор по Украине</b></p>
        <p class="p_gen">Омкар</p>
        <p class="p_gen">skype: ozernyi.oleg</p>
        <p class="p_gen">whatsapp: +380684188899</p>
      </div>
      <div class="item_wrapper flex a-center column">
        <div class="img_wrap">
          <img src="../assets/4.jpg" alt="pic" />
        </div>
        <p class="p_gen pb-1 mt-1"><b>Координатор по Европе и др.</b></p>
        <p class="p_gen">skype: sveta__oleg</p>
        <p class="p_gen">whatsapp: +491786460545</p>
      </div> -->
    </div>
    <p class="p_gen flex j-center m-auto">
      Данный сайт и мероприятие предназначены только для последователей
      Всемирной общины Санатана Дхармы.
    </p>
  </div>
</main>
